.upload-text {
  padding: 2rem;
  background-color: #5333ed;
  color: white;
}

.highlight {
  font-family: bigJohn;
  font-size: 1.5rem;
}

.search-button {
  background-color: #5333ed !important;
  color: white !important;
  width: 40ch !important;
}
