.container {
  margin: 15px;
  padding: 3rem;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.bigJohn-quote {
  padding: 20px;
  font-family: bigJohn;
  font-size: 2rem;
  color: white;
}

.slimJoe-quote {
  padding: 20px;
  font-family: slimJoe;
  font-size: 2rem;
  color: white;
}

.whitenumber {
  margin: 0;
  font-size: 3rem;
  font-family: bigJohn;
  align-self: center;
  color: white;
}

.whitetext {
  margin: 0;
  padding-left: 5px;
  align-self: center;
  font-family: regularJohn;
  text-transform: uppercase;
  color: white;
}

.price {
  margin: 0;
  padding: 5px;
  font-size: 1.5rem;
  font-family: bigJohn;
  align-self: center;
  color: white;
}

.layout1 .box1 {
  place-items: center;
  background-color: #5333ed;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.layout1 .box2 {
  border: solid black 2px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.layout1 .box3 {
  padding: 15px;
  background-color: #ffdd00;
  place-items: center;
  font-family: bigJohn;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.layout1 .box4 {
  font-family: bigJohn;
  padding: 10px;
  margin: 0;
  border: solid #ff0055 3px;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.layout1 .box5 {
  display: flex;
  padding: 2px;
  background-color: #ff0055;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.layout1 .box6 {
  display: flex;
  padding: 2px;
  background-color: #ff0055;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

.layout1 .box7 {
  display: flex;
  padding: 2px;
  background-color: #ff0055;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

/* For later implementation for dynamic styling */

/* .layout2 .box1 {
	background-color: #ff0055;
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 3;
}

.layout2 .box2 {
	background-color: brown;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 5;
}

.layout2 .box3 {
	background-color: brown;
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 5;
}

.layout2 .box4 {
	background-color: brown;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.layout2 .box5 {
	background-color: brown;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.layout2 .box6 {
	background-color: brown;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.layout2 .box7 {
	background-color: brown;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
} */

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
  }

  .layout1 .box1 {
    width: 80vw;
  }

  .layout1 .box2 {
    width: 80vw;
  }

  .layout1 .box3 {
    width: 80vw;
  }

  .layout1 .box4 {
    width: 80vw;
  }

  .layout1 .box5 {
    width: 80vw;
  }

  .layout1 .box6 {
    width: 80vw;
  }

  .layout1 .box7 {
    width: 80vw;
  }
}
